<!-- html template with nav bar -->

<!DOCTYPE html>
<html>
    
    <head> 
        <title>Student Profiles</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                
                  <!-- add extra buttons in the future
                  
                  <div class="collapse navbar-collapse">
                    <ul class=" nav navbar-nav navbar-right"></ul>
                </div>
                
                -->
            </div>
        </nav>
    