<% include ./partials/header %>  <!-- include header template -->

<div class="container">
    <div class="row justify-content-md-center">
        
        
        <div class="col col-lg-4 text-center" style="background: rgb(248, 249, 250); margin-top:20px;">
            <h1> Home Page </h1>
        <ul>
            <li class="btn btn-default"><a href="/register"> Sign up</a></li>
            <li class="btn btn-default"><a href="/login">Login</a></li>
            <li class="btn btn-default"><a href="/logout">Logout</a></li>
           
        </ul>
        </div>
        
    </div>
</div>
<% include ./partials/footer %>  <!-- include header template -->